.formulario{
		position:absolute;
		top:10%;
		left:60%;
		transform:translateX(-10%,-60);
}
.background{
	background-color:white;
}

.campo{
	/*width:200px;
	height:30px;
	padding:10px;
	border-radius:10px;
	background: url(../img/country-icon-23.jpeg) no-repeat scroll 7px 7px;
	padding-left:30px;
	*/
	width:70%;
	outline:0;
	border-width:0 0 2px;
	border-bottom-color:blue;
}

.imagens{
	height:300px;
	position:absolute;
	top:15%;
	left:20%;
	transform:translateX(-15%,-20%);
}

.texto{
	
	position:relative;
	left:20%;
	top:70%;
	transform:translatey(-20%,-70%);
}

.corpo{
	
	
	background-color:blue;
	
}

.container{
	display:flex;
	margin-top:20px;
	margin-bottom:20px;
}

.endereco{
	width:30%;
	outline:0;
	border-width:0 0 2px;
	border-bottom-color:blue;
}

.país{
	width:40%;
	outline:0;
	border-width:0 0 2px;
	border-bottom-color:blue;
	position:absolute;
	top:50%;
	left:43%;
	transform:translateX(-50%,43%);
}



.bt-cadastro{
	width:200px;
	height:30px;
	border-radius:10px;
	border:1px solid #3d3d3e;
}
.bt-cadastro:hover{
	
}

/*.icon i{
	position :absolute;
	
}*/
.icon{
	padding:10px;
	min-width:5px;
	text-align:center;
} 
